{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
<p class="github-link"><img class="github-logo" src="{% static 'github_logo.png' %}" alt="github-logo" />GitHub:<a href="https://github.com/Lynextion"> https://github.com/Lynextion</a></p>
<p class="email"><img class="mail-logo" src="{% static 'mail-logo.jpg' %}" alt="email-logo" />Email: <ataozdamar@gmail class="com">ataozdamar@gmail.com</ataozs>
<p class="linkedin-link"><img class="linkedin-logo" src="{% static 'linkedin-logo.png' %}" alt="linkedin-logo" />Linkedin:<a href="https://www.linkedin.com/in/ata-özdamar-7704aa1b1/"> https://www.linkedin.com/in/ata-özdamar-7704aa1b1/</a></p>
{% endblock %}
