{% extends 'base_layout.html' %}

{% block content %}
<div class="profile-wrapper">
    <div class="profile">
        <img src="{{ profile.avatar.url }}">
        <h1>{{profile.user}}</h1>
        <div class="bio">
            <p>{{profile.bio}}</p>
        </div>
        <div>
        <button class="edit-button" type="button" ><a href="{% url 'account:profile_edit' %}">Click for edit your profile</a></button></div>
    </div>
    <div class="article-list">
        {% for article in articles %}
        <a href="{% url 'articles:details' article.slug %}"><div class="article">
                
                <h2>{{article.title}}</h2>
                <p> {{article.snippet}}</p>
                <p>{{article.date}}</p>
                <p class="author">added by {{article.author.username}}</p>
            </div></a>
        {% endfor %}
    </div>
</div>
{% endblock %}